# Firebase Configuration
VITE_FIREBASE_API_KEY=your_firebase_api_key
VITE_FIREBASE_AUTH_DOMAIN=auth-examnotes-ba57a.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=auth-examnotes-ba57a
VITE_FIREBASE_STORAGE_BUCKET=auth-examnotes-ba57a.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=84019590727
VITE_FIREBASE_APP_ID=1:84019590727:web:843d6e9a176b49b5ec6362